@using SportCenter.ViewModels;
@{
    ViewData["Title"] = "Мои тренировки";
    var groupTrains = ViewData["GroupTrains"] as List<GroupTrainingModel>;
    var personalTrains = ViewData["PersonalTrains"] as List<PersonalTrainingModel>;
}


<h1>Групповые тренировки</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Trainer Name</th>
            <th>Capacity</th>
            <th>DayOfWeek</th>
            <th>Time</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in groupTrains)
        {
        <tr>
            <th>@group.Name</th>
            <td>@group.TrainerName</td>
            <td>@group.Capacity</td>
            <td>@group.DayOfWeek</td>
            <td>@group.Time</td>
            <td><a asp-action="DeleteGroup" asp-route-id="@group.ID">Отписаться</a></td>
        </tr>
        }

    </tbody>
</table>

<h1>Персональные тренировки</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Trainer Name</th>
            <th>DayOfWeek</th>
            <th>Time</th>
            <th>Отписаться</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pgroup in personalTrains)
        {
        <tr>
            <td>@pgroup.TrainerName</td>
            <td>@pgroup.DayOfWeek</td>
            <td>@pgroup.Time</td>
            <td><a asp-action="DeletePersonal" asp-route-id="@pgroup.ID">Убрать</a></td>
        </tr>
        }

    </tbody>
</table>