@{
    ViewData["Title"] = "Групповые тренировки";
    var trainers = ViewData["Trainers"] as IEnumerable<SelectListItem>;
    var dayofweeks = ViewData["DayOfWeeks"] as IEnumerable<SelectListItem>;
}

@using (Html.BeginForm(actionName: "SelectGroupTraining", controllerName: "GroupTraining"))
{
    @Html.AntiForgeryToken()
    <h2 class="text-center text-default mt-2">Групповые тренировки</h2>
    <div class="card mt-2">
        <div class="card-body row justify-content-center pb-1">
            <div class="col-lg-4 col-md-12 col-sm-12">
                @Html.Label("STrainer", "Выбор тренера", htmlAttributes: new { @class = "mdb-main-label mb-0 text-default" })
                @Html.DropDownList("STrainer", trainers, htmlAttributes: new { @class = "mdb-select md-form colorful-select dropdown-default mt-0" })
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                @Html.Label("SDayOfWeek", "Выбор дня недели", htmlAttributes: new { @class = "mdb-main-label mb-0 text-default" })
                @Html.DropDownList("SDayOfWeek", dayofweeks, htmlAttributes: new { @class = "mdb-select md-form colorful-select dropdown-default mt-0 mb-0" })
            </div>

            <div class="col-lg-3 col-md-12 col-sm-12 text-center my-auto pr-0">
                <input type="submit" class="btn btn-outline-success" value="Фильтровать снова" />
            </div>
        </div>
    </div>
}