@using SportCenter.ViewModels
@model IEnumerable<IEnumerable<GroupTrainingModel>>
@{
    ViewData["Title"] = "Групповые тренировки";
    var trainers = ViewData["Trainers"] as IEnumerable<SelectListItem>;
    var dayofweeks = ViewData["DayOfWeeks"] as IEnumerable<SelectListItem>;
}

@using (Html.BeginForm(actionName: "SelectGroupTraining", controllerName: "GroupTraining"))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Групповые тренировки </h4>
        <hr />
        <div class="form-group">
            @Html.Label("STrainer", "Выбор тренера", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("STrainer", trainers, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("SDayOfWeek", "Выбор дня недели", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SDayOfWeek", dayofweeks, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
    </div>
    <input type="submit" value="Фильтровать снова" />
}
@using (Html.BeginForm(actionName: "AddGroupTraining",
                      controllerName: "GroupTraining",
                      method: FormMethod.Post,
                      htmlAttributes: new { @class = "p-3" }))
{
    <div class="container">
        @foreach (var group in Model)
        {
            <div class="row">
                @foreach (var gt in group)
                {
                    <div class="col-4 col-sm-3">
                        <div class="card">
                            <div class="card-header">
                                @gt.Name
                            </div>
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted">Проводится: @gt.DayOfWeek, @gt.Time</h6>
                                <p class="card-text">
                                    Осталось мест: @gt.Capacity
                                </p>

                            </div>
                            <div class="card-footer">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="AddGT_@gt.ID" name="gtSelected" value="@gt.ID" />
                                    @*@Html.CheckBox($"AddGT_{gt.ID}", false, htmlAttributes: new { @class = "custom-control-input" })*@
                                    @Html.Label($"AddGT_{gt.ID}", "Записаться", htmlAttributes: new { @class = "custom-control-label" })
                                </div>
                            </div>
                        </div>
                    </div>
                }


            </div>
        }
    </div>
    <input type="submit" value="Добавить выделенные" />
}
