@model SportCenter.Models.PersonalTrain

@{
    ViewData["Title"] = "Персональные тренировки";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var trainers = ViewData["Trainers"] as IEnumerable<SelectListItem>;
    var dayofweeks = ViewData["DayOfWeeks"] as IEnumerable<SelectListItem>;
    var timeranges = ViewData["TimeRanges"] as IEnumerable<SelectListItem>;
}


    <div class="jumbotron text-center mt-3 py-2">
        <h1 class="card-title h1 mb-3 mt-2 text-default">Запись на персональную тренировку</h1>
        <div class="row d-flex justify-content-center">
            <div class="col-xl-8 pb-2">
                @using (Html.BeginForm(actionName: "AddPersonalTraining", controllerName: "PersonalTraining"))
                {
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        @Html.Label("DayOfWeek", "День недели", htmlAttributes: new { @class = "mdb-main-label mb-0 text-default" })
                        @Html.DropDownList("DayOfWeek", dayofweeks, htmlAttributes: new { @class = "mdb-select md-form colorful-select dropdown-default mt-0" })
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        @Html.Label("IdTrainer", "Тренер", htmlAttributes: new { @class = "mdb-main-label mb-0 text-default" })
                        @Html.DropDownList("IdTrainer", trainers, htmlAttributes: new { @class = "mdb-select md-form colorful-select dropdown-default mt-0" })
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        @Html.Label("Time", "Время занятия", htmlAttributes: new { @class = "mdb-main-label mb-0 text-default" })
                        @Html.DropDownList("Time", timeranges, htmlAttributes: new { @class = "mdb-select md-form colorful-select dropdown-default mt-0" })
                    </div>
                </div>
                }
            </div>
        </div>
        <hr class="pb-2 my-1">
        <div class="form-group">
            <input type="submit" value="Записаться" class="btn btn-success" />
        </div>
    </div>

