
@{
    ViewData["Title"] = "Абонемент";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var abonement = ViewData["Abonement"] as Abonement;
}

<h1>Абонемент</h1>
@if (abonement is null)
{
    <div>У вас нет абонемента!</div>
}
else
{ 
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            Номер абонемента
        </dt>
        <dd class = "col-sm-10">
            @abonement.Number
        </dd>
        <dt class="col-sm-2">
            Дата блокировки
        </dt>
        <dd class="col-sm-10">
            @if (abonement.DateBlock.HasValue)
            {
            <div>@abonement.DateBlock.Value.ToShortTimeString()</div>
            }
            else
            {
                <a class="btn btn-info" asp-action="FreezeAbonement" asp-route-id="@abonement.Number">Заморозить</a>
            }
        </dd>
        @if (abonement.IntervalBlock.HasValue)
        {
            <dt class = "col-sm-2">
                Время блокировки (в днях)
            </dt>

            <dd class = "col-sm-10">
                @abonement.IntervalBlock.Value
            </dd>
        }
        <dt class = "col-sm-2">
            Осталось дней блокировки
        </dt>
        <dd class = "col-sm-10">
            @abonement.Capacity
        </dd>
        <dt class = "col-sm-2">
            Время абонемента
        </dt>
        <dd class = "col-sm-10">
            @abonement.Time.ToString(@"hh\:mm")
        </dd>
        <dt class = "col-sm-2">
            Срок абонемента (в днях)
        </dt>
        <dd class = "col-sm-10">
            @abonement.Term
        </dd>
    </dl>
</div>
}
@*<div>
    <a asp-action="FreezeAbonement" asp-route-id="@abonement.Number">Edit</a> |
</div>*@
