
@{
    ViewData["Title"] = "Заморозка абонемента";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var abonement = ViewData["Abonement"] as Abonement;
}

    <div class="card container col-lg-6 col-md-12 col-sm-12 mt-2 px-0">
        <form asp-action="FreezeAbonement">
            <div class="container-fluid px-0 text-center grey lighten-4">
                <h2 class="text-center text-default my-0 py-2">Заморозка действия абномента</h2>
            </div>
            <hr class="mt-0" />
            <div class="card-body row py-0 justify-content-center mb-2">
                <div class="col-xl-9">
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="@abonement.Number" />
                        <div class="md-form col-lg-6 col-md-12 col-sm-12">
                            <label for="abonement_DateBlock" class="pl-3 mb-0 text-default"> Дата начала заморозки</label>
                            <input placeholder="Выберите дату" type="text" asp-for="@abonement.DateBlock" class="form-control datepicker" required />
                            
                            <span asp-validation-for="@abonement.DateBlock" class="text-danger"></span>
                        </div>
                        <div class="md-form col-lg-6 col-md-12 col-sm-12">
                            <label for="abonement_IntervalBlock" class="pl-3 mb-0 mdb-main-label mb-0 text-default">Срок заморозки</label>
                            <input type="number"asp-for="@abonement.IntervalBlock" class="form-control" value="1" min="1" max="@abonement.Capacity">
                            <span asp-validation-for="@abonement.IntervalBlock" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="my-0" />
            <div class="container-fluid px-0 text-center grey lighten-4">
                <input type="submit" value="Заморозить" class="btn btn-success" />
            </div>
        </form>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
